/*Global*/
:root {
    /*App Colors*/
    --color-primary: var(--color-black);
    --color-primary-variant: var(--color-grey);
    --color-accent: var(--color-blue);
    --color-accent-variant: var(--color-blue);
    --color-text: var(--color-white);

    /*Colors*/
    --color-white: #ffffff;
    --color-black: #050a13;
    --color-blue: #03e8f9;
    --color-orange: #fd6413;
    --color-grey: #1b1e26;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

h1, h2, h3, p, ul {
    margin: 0;
}

ul {
    list-style: none;
    padding: 0;
}

a {
    text-decoration: none;
    color: var(--color-text);

}

button {
    background-color: transparent;
    outline: 0;
    border: 0;
}

button:focus {
    outline: 1px solid var(--color-accent);
}

/*Common*/
.section {
    padding: 4rem;
    text-align: center;
}

.max-container {
    max-width: 1200px;
    margin: auto;

}

.title {
    font-size: 2.5rem;
    margin: 1rem 0;
}

.description {
    font-size: 1.5rem;
    margin: 0.5rem 0;
}


/*Header*/

.header__toggle {
    display: none;
    color: white;
    font-size: 1.5rem;
    position: absolute;
    top: 1.3rem;
    right: 1rem;
}

.header {
    background-color: transparent;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    transition: all 300ms ease;
}

.header--dark {
    background-color: var(--color-primary);
    box-shadow: 0 20px 50px rgba(8, 112, 184, 0.7);
}

.header__logo {
    display: flex;
    align-items: center;
    gap: 8px;
}

.header__logo__img {
    width: 36px;
    height: 36px;
    border-radius: 70px;

}

.header__logo__title {
    font-size: 1.8rem;
}

.header__menu {
    display: flex;
    gap: 4px;
}

.header__menu__item {
    /*위아래, 양옆*/
    padding: 8px 16px;
    display: block;
    border-bottom: 1px solid transparent;
}

.header__menu__item:hover {
    border-bottom: 1px solid var(--color-accent);
}

.header__menu__item.active {
    border: 1px solid var(--color-accent);
    border-radius: 60px;
}

/*HOME*/
/*id를 가지고 있으니 id 선택자 사용*/
#home {
    background-color: var(--color-primary);
    color: var(--color-text);
    padding: 7rem 1rem 5rem;
    text-align: center;
}

.home__avatar {
    width: 250px;
    height: 250px;
    /*이미지비율 유지*/
    object-fit: cover;
    border: 3px solid var(--color-accent);
    border-radius: 100%;
}

.home__title {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.home__title--strong {
    color: var(--color-accent);
}

.home__description {
    font-size: 1.3rem;
}

.home__contact {
    display: inline-block;
    background-color: var(--color-accent);
    color: var(--color-black);
    padding: 0.1rem 0.4rem;
    margin: 2rem;
    font-weight: bold;
    border-radius: 4px;
}

.home__contact:hover {
    background-color: transparent;
    color: var(--color-text);
    outline: 2px solid var(--color-accent);

}

/*ABOUT*/
.majors {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    margin: 2.5rem 0;
    cursor: default;

}

.major {
    background-color: var(--color-primary-variant);
    padding: 2rem 1rem;
    color: var(--color-text);
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 60px 40px -7px;

}

.major__icon {
    font-size: 4rem;
    margin: 1rem 0;
    color: var(--color-accent);
    transition: all 300ms ease;

}

.major__title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.major:hover .major__icon {
    transform: rotate(-15deg) scale(1.2);
}

/*SKills*/
#skills {
    background-color: var(--color-primary-variant);
    color: var(--color-text);
}

.skills {
    display: grid;
    grid-template-columns: 6fr 4fr;
    margin: 2rem 3rem;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12)
}

.skills__coding {
    grid-row: span 2;
    padding: 1rem;
    background-color: var(--color-primary);
}

.skills__tools {
    padding: 1rem;

}

.skills__etc {
    padding: 1rem;
    background-color: var(--color-primary);
    filter: brightness(150%);

}

.skills__title {
    color: var(--color-accent);
    margin: 1rem 0;
    font-size: 1.2rem;
}

.bar {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 0.5rem;
}

.bar__metadata {
    display: flex;
    justify-content: space-between;
}

.bar__bg {
    width: 100%;
    height: 3px;
    background-color: var(--color-primary-variant);
}

.bar__value {
    background-color: var(--color-accent);
    height: 3px;
}

/*Work*/

#work {
    background-color: var(--color-primary);
    color: var(--color-text);
}

.categories {
    display: flex;
    justify-content: center;
    margin: 2.5rem;
    gap: 1rem;
}

.category {
    position: relative;
    color: var(--color-text);
    font-size: 1.1rem;
    padding: 0.5rem 3rem;
    border-radius: 4px;
    border: 1px solid var(--color-accent);
    cursor: pointer;
    white-space: nowrap;

}

.category--selected {
    background-color: var(--color-accent);
    color: var(--color-primary);

}

.category__count {
    opacity: 0;
    position: absolute;
    top: -20px;
    right: 16px;
    width: 28px;
    height: 28px;
    line-height: 28px;
    border-radius: 100%;
    background-color: var(--color-orange);
    color: var(--color-text);
    transition: all 150ms ease-in;
}

.category--selected .category__count,
.category:hover .category__count {
    opacity: 1;
    top: 0;
}

.projects {
    display: grid;
    /*1배율로 4번 반복*/
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1rem;
    transition: all 250ms ease-out;
}

.projects.anim-out {
    opacity: 0;
    transform: scale(0.96) translateY(20px);
}

.project {
    position: relative;
    border-radius: 8px;

    /*안에 있는 이미지가 삐져 나오지 않도록*/
    overflow: hidden;

}

.project__img {
    width: 100%;
    border-radius: 12px;
}

.project__metadata {
    /*위에 .project 클래스 포지션을
    position: relative; 로 선언해줘야 한다.*/
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-black);
    /*은은하게*/
    opacity: 0;
    /*수평정렬*/
    display: flex;
    flex-direction: column;
    /*텍스트를 심플하게 중간정렬*/
    align-items: center;
    justify-content: center;

    transition: opacity 250ms ease-in;
    /*스르륵 내려오는 효과*/
    transform: translateY(-10px);
}

.project__metadata:hover {
    opacity: 0.8;
    /*스르륵 내려오는 효과*/
    transform: translateY(0px);
}

/*가상요소 추가*/
/*형광 바를 html에 추가하지 않았는데 추가되 있는 것을*/
/*볼 수 있음.*/
/*자유게시판 밑에 밑줄 긋는 효과 사용 가능*/
.project__title:after {
    content: '';
    display: block;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    margin: 0.5rem 0;
    width: 50px;
    height: 2px;
    background-color: var(--color-accent);
}

/*Testimonial*/
.testimonial {
    margin: 3rem;

}

.testimonial {
    display: flex;
    gap: 2rem;
    align-items: center;
    margin-bottom: 2rem;
}

/*몇번째인지 선택(even=짝수) 그안의 img태그*/
.testimonial:nth-child(even).testimonial__img {
    order: 1;
}

.testimonial__img {
    width: 150px;
    height: 150px;
    border-radius: 100%;
    box-shadow: 5px 5px rgba(0, 98, 90, 0.4), 10px 10px rgba(0, 98, 90, 0.3), 15px 15px rgba(0, 98, 90, 0.2), 20px 20px rgba(0, 98, 90, 0.1), 25px 25px rgba(0, 98, 90, 0.05);
}

.testimonial__bubble {
    box-shadow: rgba(13, 38, 76, 0.19) 0px 9px 20px;
    padding: 1rem;
    border-radius: 8px;
}

.testimonial__bubble__name {
    color: var(--color-accent);
    font-weight: bold;
    filter: brightness(70%);
}

/*Arrow UP*/
.arrow-up {
    background-color: var(--color-primary);
    position: fixed;
    bottom: 3rem;
    right: 3rem;
    font-size: 3rem;
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 100%;
    text-align: center;
    box-shadow: 5px 5px 0px 0px var(--color-accent);
    transition: opacity 500ms ease-in;
}


/*FOOTER*/
#contact {
    background-color: var(--color-primary);
    color: var(--color-text);
}

.contact__links {
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
    font-size: 2rem;
}

.contact__link {
    transition: color 250ms ease-in;


}

.contact__link:hover {
    color: var(--color-accent);
}

.footer__description {
    font-size: 1.5rem;
    margin: 0.5rem 0;
}

.footer__title {
    font-size: 2.5rem;
    margin: 1rem 0;
}

@media screen and (max-width: 768px) {
    .section {
        padding: 4rem 2rem;
    }

    .title {
        font-size: 2rem;
    }
    .description {
        font-size: 1rem;
    }

    .header {
        flex-direction: column;
        align-items: start;
        background-color: var(--color-primary);
    }
    .header__toggle {
        display: block;
    }
    .header__menu {
        display: none;
        flex-direction: column;
        text-align: center;
        padding: 1rem 4rem;
        gap: 1rem;
    }

    .header__menu.open {
        display: flex;
    }

    .header__nav {
        width: 100%;

    }


    #home {
        padding-bottom: 3rem;
    }

    .home__title {
        font-size: 2.5rem;
        margin-bottom: 0.5rem;

    }

    .majors {
        flex-direction: column;
        align-items: center;
    }
    .major {
        max-width: 25rem;
    }

    .job {
        justify-content: center;
    }

    .skills {
        grid-template-columns: 1fr;
    }

    .categories {
        flex-direction: column;
    }

    .category {
        width: 50%;
    }

    .projects {
        grid-template-columns: repeat(2, 1fr);
    }

    .testimonial {
        flex-direction: column;
    }
    .testimonial:nth-child(even).testimonial__img {
        order: 0;
    }

    .arrow-up {
        font-size: 2rem;
        bottom: 2.5rem;
        width: 3.5rem;
        height: 3.5rem;
        bottom: 1.5rem;
        right: 1.5rem;
    }

}