<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>a&nbsp;soo's&nbsp;tale</title>
    <meta name="description" content="포트폴리오">
    <meta name="author" content="asoostale"/>
    <meta charset="UTF-8">
    <!--css bootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <!--favicon-->
    <link rel="shortcut icon" th:href="@{/images/favicon.ico}" type="image/x-icon">
    <!--OG Open Graph Data-->
    <meta property="og:title" content="asoo's tale"/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="배포 후 생성된 url">
    <meta property="og:imag" content="배포 후 생성된 이미지 url">
    <!--Google Font-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap"
          rel="stylesheet">
    <!--아이콘사용 fontAwesome-->
    <script src="https://kit.fontawesome.com/c7391397c1.js" crossorigin="anonymous"></script>
    <!--defer 옵션 중요. 안 읽어도 사용자에게 보여줄 수 있다-->
    <script src="/js/main.js" defer></script>
</head>
<body>
<!--header-->
<header class="header ">
    <div class="header__logo">
        <img class="header__logo__img" th:src="@{/images/favicon.ico}" alt="Logo">
        <h1 class="header__logo__title"><a th:href="@{/}"> a soo's tale</a></h1>
    </div>
    <nav>
        <ul class="header__menu">
            <li><a class="header__menu__item active" href="#home">HOME</a></li>
            <li><a class="header__menu__item" href="#about">ABOUT</a></li>
            <li><a class="header__menu__item" href="#skills">SKILLS</a></li>
            <li><a class="header__menu__item" href="#work">MY WORK</a></li>
            <li><a class="header__menu__item" href="#testimonial">추천서</a></li>
            <li><a class="header__menu__item" href="#contact">CONTACT ME</a></li>
        </ul>

    </nav>
</header>

<!--main-->
<main>
    <!--Home-->
    <section id="home">
        <img class="home__avatar" th:src="@{/images/main.png}" alt="main photo"/><br>
        <h2 class="home__title"><strong class="home__title--strong"> Hello! World!</strong></h2>
        <p class="home__description">공부하는 개발자</p>
        <a class="home__contact" href="#contact">contact me</a>
    </section>
    <!--about-->
    <section id="about" class="section max-container">
        <h2 class="title">About me</h2>
        <p class="description">
            늦은 나이지만 노력하는 개발자 지망생입니다.
        </p>
        <ul class="majors">
            <li class="major">
                <i class="fa-brands fa-java major__icon"></i>
                <p class="major__title">front-end</p>
                <p>HTML,CSS, JAVASCRIPT, TYPESCRIPT, REACT, VUE</p>
            </li>
            <li class="major">
                <i class="fa-brands fa-html5 major__icon"></i>
                <p class="major__title"> MOBILE</p>
                <p>Android, ios, react native, flutter, java, swift, kotlin</p>
            </li>
            <li class="major">
                <i class="fa-brands fa-js major__icon"></i>
                <p class="major__title">back-end</p>
                <p>java, javascript, go, nodeJs, rest apis, graphQl</p>
            </li>
        </ul>

    </section>
    <!--skills-->
    <section id="skills" class="section">
        <div class="max-container">
            <h2 class="title">My Skill</h2>
            <p class="description">skill & attribute</p>
            <p>동해물과 백두산이 마르고 닳도록 하느님이 보우하사 우리나라 만세 무궁화 삼천리 화려강산 대한사람 대한으로 길이 보전하세.</p>
            <div class="skills">
                <section class="skills__coding">
                    <h3 class="skills__title">Coding skills</h3>
                    <ul>
                        <li class="bar">
                            <div class="bar__metadata"><span>HTML</span><span>30%</span></div>
                            <div class="bar__bg">
                                <div class="bar__value" style="width: 30%"></div>
                            </div>
                        </li>
                        <li class="bar">
                            <div class="bar__metadata"><span>CSS</span><span>10%</span></div>
                            <div class="bar__bg">
                                <div class="bar__value" style="width: 10%"></div>
                            </div>
                        </li>
                        <li class="bar">
                            <div class="bar__metadata"><span>SpringBoot</span><span>80%</span></div>
                            <div class="bar__bg">
                                <div class="bar__value" style="width: 80%"></div>
                            </div>
                        </li>
                        <li class="bar">
                            <div class="bar__metadata"><span>JPA</span><span>80%</span></div>
                            <div class="bar__bg">
                                <div class="bar__value" style="width: 80%"></div>
                            </div>
                        </li>
                        <li class="bar">
                            <div class="bar__metadata"><span>Javascript</span><span>20%</span></div>
                            <div class="bar__bg">
                                <div class="bar__value" style="width: 20%"></div>
                            </div>
                        </li>
                        <li class="bar">
                            <div class="bar__metadata"><span>QueryDsl</span><span>60%</span></div>
                            <div class="bar__bg">
                                <div class="bar__value" style="width: 60%"></div>
                            </div>
                        </li>
                    </ul>
                </section>
                <section class="skills__tools"> <!-- 사용툴 섹션을 이동 -->
                    <h3 class="skills__title">사용 툴</h3>
                    <ul>
                        <li>인텔리제이</li>
                        <li>깃</li>
                        <li>dbgrip</li>
                        <li>postman</li>
                        <li>vue</li>
                    </ul>
                </section>
                <section class="skills__etc">
                    <h3 class="skills__title">etc</h3>
                    <ul>
                        <li>git</li>
                        <li>jpa</li>
                        <li>축구</li>
                    </ul>
                </section>
            </div>
        </div>
    </section>

    <!--work-->
    <section id="work" class="section">
        <div class="max-container">
            <h2 class="title">My work</h2>
            <p class="description">Projects</p>
            <ul class="categories">
                <li>
                    <button class="category category--selected">All<span class="category__count">8</span></button>
                </li>
                <li>
                    <button class="category">front-end<span class="category__count">3</span></button>
                </li>
                <li>
                    <button class="category">back-end<span class="category__count">3</span></button>
                </li>
                <li>
                    <button class="category">mobile<span class="category__count">2</span></button>
                </li>
            </ul>
            <ul class="projects">
                <li class="project">
                    <a href="#" target="_blank">
                        <img src="/images/projects/project1.webp" class="project__img" alt="손흥민"/>
                        <div class="project__metadata">
                            <h3 class="project__title">Project #1</h3>
                            <p> 손흥민 갓</p>
                        </div>
                    </a>
                </li>
                <li class="project"><a href="#" target="_blank"><a href="#" target="_blank">
                    <img src="/images/projects/project2.webp" class="project__img" alt="손흥민"/>
                    <div class="project__metadata">
                        <h3 class="project__title">Project #2</h3>
                        <p> 손흥민 갓</p>
                    </div>
                </a></a></li>
                <li class="project"><a href="#" target="_blank"><a href="#" target="_blank">
                    <img src="/images/projects/project3.webp" class="project__img" alt="project3"/>
                    <div class="project__metadata">
                        <h3 class="project__title">Project #3</h3>
                        <p> 손흥민 갓</p>
                    </div>
                </a></a></li>
                <li class="project"><a href="#" target="_blank"><a href="#" target="_blank">
                    <img src="/images/projects/project4.webp" class="project__img" alt="project4"/>
                    <div class="project__metadata">
                        <h3 class="project__title">Project #4</h3>
                        <p> 손흥민 갓</p>
                    </div>
                </a></a></li>
                <li class="project"><a href="#" target="_blank"><a href="#" target="_blank">
                    <img src="/images/projects/project5.webp" class="project__img" alt="project5"/>
                    <div class="project__metadata">
                        <h3 class="project__title">Project #5</h3>
                        <p> 손흥민 갓</p>
                    </div>
                </a></a></li>
                <li class="project"><a href="#" target="_blank"><a href="#" target="_blank">
                    <img src="/images/projects/project6.webp" class="project__img" alt="project6"/>
                    <div class="project__metadata">
                        <h3 class="project__title">Project #6</h3>
                        <p> 손흥민 갓</p>
                    </div>
                </a></a></li>
                <li class="project"><a href="#" target="_blank"><a href="#" target="_blank">
                    <img src="/images/projects/project7.webp" class="project__img" alt="project7"/>
                    <div class="project__metadata">
                        <h3 class="project__title">Project #7</h3>
                        <p> 손흥민 갓</p>
                    </div>
                </a></a></li>
                <li class="project"><a href="#" target="_blank"><a href="#" target="_blank">
                    <img src="/images/projects/project8.webp" class="project__img" alt="project8"/>
                    <div class="project__metadata">
                        <h3 class="project__title">Project #8</h3>
                        <p> 손흥민 갓</p>
                    </div>
                </a>
                </a>
                </li>
            </ul>

        </div>
    </section>
    <!--추천서-->
    <section id="testimonial" class="section max-container">
        <h2 class="title">Testimonial</h2>
        <p class="description">See what they see about me</p>
        <ul class="testimonials">
            <li class="testimonial"><img src="/images/testimonials/people1.webp" class="testimonial__img" alt="사람1">
                <div class="testimonial__bubble">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus,
                        animi asperiores assumenda
                        atque deleniti dignissimos dolore dolorem earum expedita fugit ipsam ipsum libero minus, odit
                        optio
                        quasi repudiandae saepe sit!
                    </p>
                    <p><a href="#" class="testimonial__bubble__name"/>이순신</p>
                </div>
            </li>
            <li class="testimonial"><img src="/images/testimonials/people2.webp" class="testimonial__img" alt="사람2">
                <div class="testimonial__bubble">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci
                        aliquid animi autem dicta
                        earum, eveniet explicabo labore minus molestiae mollitia quisquam quod sint sit soluta tempore
                        veniam vitae voluptate voluptatum?</p>
                    <p>
                        <a href="#" class="testimonial__bubble__name"/>홍길동</p>
                </div>
            </li>
            <li class="testimonial"><img src="/images/testimonials/people3.webp" class="testimonial__img" alt="사람3">
                <div class="testimonial__bubble">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam
                        blanditiis dolorem dolores
                        eius eum ex expedita, inventore laboriosam laborum maxime nam nobis non odio perferendis
                        perspiciatis qui quo recusandae reprehenderit!</p>
                    <p>
                        <a href="#" class="testimonial__bubble__name"/>둘리</p>
                </div>
            </li>
        </ul>
    </section>
    <!--Arrow Up-->
    <aside>
        <a class="arrow-up" href="#home" title="back to top"><i class="fa-solid fa-arrow-up"></i></a>
    </aside>
</main>

<!--footer-->
<footer id="contact">
    <div class="max-container">
        <div class="footer">
            <h2 class="footer__title">Let&#39;s talk</h2>
            <p class="footer__description">asoostale@naver.com</p>
        </div>
        <ul class="contact__links">
            <li>
                <a class="contact__link"
                   href="https://github.com/asoostale" target="_blank" title="my git">
                    <i class="fa-brands fa-github"></i>
                </a>
            </li>
            <li>
                <a class="contact__link"
                   href="https://github.com/asoostale" target="_blank" title="my linked">
                    <i class="fa-brands fa-linkedin"></i>
                </a>
            </li>
        </ul>
        <p>©asoostale - All rights reserved</p>
    </div>
</footer>


<!--js bootstrap-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
</body>
</html>